// 备注：插件项目中的动画一般不会太多，可以集中在这里，不用单独归到各自 page
$PF: $P + '-fade';

@include ETAnimationMixin($PF);

// wrap 淡入淡出
.#{$P}-fade-layer-inner {
  &.is-hidden {
    display: none;
  }

  &.#{$P}-fade-enter.#{$P}-fade-enter-active {
    animation-name: ETFadeLayerFadeEnter;
  }

  &.#{$P}-fade-leave.#{$P}-fade-leave-active {
    animation-name: ETFadeLayerFadeLeave;
  }
}

@keyframes ETFadeLayerFadeEnter {
  0% {
    transform: translateY(-16px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ETFadeLayerFadeLeave {
  to {
    transform: translateY(-16px);
    opacity: 0;
  }
}
