.#{$IAdB} {
  &.clearfix {
    &:before,
    &:after {
      content: '';
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &.clickable {
    pointer-events: auto;
  }

  &.is-hidden {
    display: none;
  }
}

// むり
// .#{$IAdB},
// .#{$IAdB} * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
.#{$IAdB}-wrap,
.#{$IAdB}-wrap * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
