$PB: $P + '-baidu';

$PS: $P + '-side';

.#{$PS}-wrap {
  position: fixed;
  top: 178px;
  right: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  transition: right 0.24s ease-in-out;
  z-index: 10000;

  &.hidden {
    right: -180px;
  }
}

.#{$PS}-item {
  font-size: 14px;
  height: 22px;
  line-height: 22px;

  &:nth-child(1).active {
    color: #e35877;
  }

  &:nth-child(2).active {
    color: $turquoise;
  }

  &:nth-child(3).active {
    color: $blue; //#86c7c7;
  }

  &:nth-child(4).active {
    color: $purple;
  }

  .#{$P}-btn {
    height: 22px;
    line-height: 22px;
  }
}

.#{$PS}-toggle {
  position: fixed;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0 12px;
  top: 274px;
  right: 10px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  transition: all 0.24s ease-in-out;
  cursor: pointer;
  z-index: 10000;

  &:active {
    transform: scale(0.86);
  }

  &.hidden {
    opacity: 0;
  }
}
