##{$IAdB}-keyMenu-box {
  // z-index: 9999;

  &.hidden {
    display: none;
  }
}

##{$IAdB}-keyMenu-mask {
  position: fixed;
  top: -300px;
  right: -300px;
  bottom: -300px;
  left: -300px;
  background-color: $bgColor;
  opacity: 0.618;
  z-index: 9999;

  &.fadeOut {
    opacity: 0;
    transition: opacity 0.24s ease-out;
    transition-delay: 0.9s;
  }
}

##{$IAdB}-keyMenu-wrapper {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 600px;
  height: 88px;
  // background-color: #33c5ff!important;
  // background-color: $bgColor;
  overflow: hidden;
  transform: translateX(-50%);
  z-index: 9999;

  .#{$IAdB}-keyMenu-row {
    display: grid;
    grid-column: 1 / 8;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Lato', 'Open Sans', 'Arial', sans-serif;
  }

  .#{$IAdB}-keyMenu-item {
    padding: 12px 20px;
    // background: $bgColor;
    // border: 1px solid #66afe9;
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    transform: translateY(126%);

    &.active .#{$IAdB}-btn-neon {
      border-color: var(--color);
      background-color: var(--color);
    }
  }

  &.ready {
    .#{$IAdB}-keyMenu-item {
      transform: translateY(0);
      transition: transform 0.6s cubic-bezier(0.37, 0.03, 0.09, 0.98);
      transition-delay: calc(0.1s * var(--item-index));
    }
  }

  &.prepareForLeaving {
    .#{$IAdB}-keyMenu-item {
      transform: translateY(0);
      transition: transform 0.56s cubic-bezier(0.83, 0.02, 0.41, 0.87);
      transition-delay: calc(0.09s * var(--item-index));
    }

    &.leaving {
      .#{$IAdB}-keyMenu-item {
        transform: translateY(126%);
      }
    }
  }

  .#{$IAdB}-btn-neon {
    display: inline-block;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0;
    width: 36px;
    height: 36px;
    // padding: 8px 14px;
    line-height: 34px;
    background: transparent;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif !important;
    font-size: 12px !important;
    font-weight: normal !important;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 15px 2px var(--color), var(--color) 0 0 11px 3px inset;
    outline: none;
    cursor: pointer;
    text-shadow: none;
    transform: box-shadow 0.12s ease-in-out;

    &:hover,
    &.active {
      box-shadow: 0 0 20px 3px var(--color), var(--color) 0 0 24px 5px inset;
    }
  }
}

// 指定页面右侧栏
$PS: $P + '-side';

.#{$PS}-wrap {
  position: fixed;
  top: 178px;
  right: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  transition: right 0.24s ease-in-out;
  z-index: 10000;

  &.is-hidden {
    display: none;
  }

  &.#{$P}-fade-enter.#{$P}-fade-enter-active {
    animation-name: ETSideFadeEnter;
  }

  &.#{$P}-fade-leave.#{$P}-fade-leave-active {
    animation-name: ETSideFadeLeave;
  }
}

@keyframes ETSideFadeEnter {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ETSideFadeLeave {
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}

.#{$PS}-item {
  font-size: 14px;
  height: 22px;
  line-height: 22px;

  &:nth-child(1).active {
    color: #e35877;
  }

  &:nth-child(2).active {
    color: $turquoise;
  }

  &:nth-child(3).active {
    color: $blue; //#86c7c7;
  }

  &:nth-child(4).active {
    color: $purple;
  }

  .#{$P}-btn {
    height: 22px;
    line-height: 22px;
  }
}

.#{$PS}-toggle {
  position: fixed;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0 12px;
  top: 274px;
  right: 10px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  transition: all 0.24s ease-in-out;
  cursor: pointer;
  user-select: none;
  z-index: 10000;

  &:active {
    transform: scale(0.86);
  }

  &.is-hidden {
    opacity: 0;
  }
}

.#{$P}-commands-panel {
  width: 100%;
}

.#{$P}-command-item {
  padding-left: 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #e35877;
  background-color: #fff;
  text-align: left;
}

.#{$P}-keys {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top-right-radius: 4px;
  // border-bottom-right-radius: 4px;
  display: flex;
  padding: 6px 10px;
  height: 32px;
  background-color: #000;
  z-index: 99999;
}

// colorful for item
$list: (1, $blue), (2, $red), (3, $yellow), (4, $green), (5, $turquoise), (6, $blue), (7, $purple);
@mixin colorful {
  @each $i, $color in $list {
    &:nth-child(7n + #{$i}) {
      border-color: $color;
      box-shadow: 0 0 4px 1px $color, $color 0 0 3px 1px inset;

      &:hover {
        box-shadow: 0 0 6px 1.5px $color, $color 0 0 4.5px 1.5px inset;
      }
    }
  }
}

.#{$P}-key-item {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 0 8px;
  height: 20px;
  line-height: 18px;
  color: #fff;
  font-size: 10px;
  text-align: center;

  &:not(:last-child) {
    margin-right: 6px;
  }

  @include colorful;
}
