$PI: $P + '-inspect';

.#{$PI}-class-list,
.#{$PI}-el {
  position: fixed;
  left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  padding: 6px 10px;
  height: 32px;
  background-color: #000;
  line-height: 20px;
  color: $blue;
  font-size: 10px;
  text-align: center;
  z-index: 99999;
}

.#{$PI}-el {
  bottom: 32px;
}

.#{$PI}-class-list {
  bottom: 64px;
}

// colorful for item
$list: (1, $blue), (2, $red), (3, $yellow), (4, $green), (5, $turquoise), (6, $blue), (7, $purple);
@mixin colorful {
  @each $i, $color in $list {
    &:nth-child(7n + #{$i}) {
      border-color: $color;
      box-shadow: 0 0 4px 1px $color, $color 0 0 3px 1px inset;

      &:hover {
        box-shadow: 0 0 6px 1.5px $color, $color 0 0 4.5px 1.5px inset;
      }

      &.is-selected {
        background-color: $color;
      }
    }
  }
}

.#{$PI}-class-list-item {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 0 8px;
  height: 20px;
  line-height: 18px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 6px;
  }

  @include colorful;
}

.#{$P}-test-selected {
  // filter: invert(100%);
  background-image: linear-gradient(to bottom, rgba(88, 179, 255, 1) 0%, rgba(88, 179, 255, 1) 100%),
    // linear-gradient(to bottom, rgba(73, 221, 142, 1) 0%, rgba(73, 221, 142, 1) 100%),
    // linear-gradient(to bottom, rgba(255, 213, 46, 1) 0%, rgba(255, 213, 46, 1) 100%),
    linear-gradient(to bottom, rgba(255, 165, 0, 1) 0%, rgba(255, 165, 0, 1) 100%),
    linear-gradient(to bottom, rgba(240, 80, 80, 1) 0%, rgba(240, 80, 80, 1) 100%);
  background-clip: content-box, padding-box, border-box;
}
