body {
  background-color: #2a2a2a;
}

#t {
  position: absolute;
  top: 50%;
  left: 50%;
  // width: 400px;
  // height: 118px;
  color: #86c7c7;
  font-size: 100px;
  transform: translate(-50%, -50%);
}
