@import 'variables.scss';
@import 'notification.scss';

##{$IAdB-prefix}-keyMenu-box {
  // z-index: 9999;

  &.hidden {
    display: none;
  }
}

##{$IAdB-prefix}-keyMenu-mask {
  position: fixed;
  top: -300px;
  right: -300px;
  bottom: -300px;
  left: -300px;
  background-color: $bgColor;
  opacity: 0.618;
  z-index: 9999;

  &.fadeOut {
    opacity: 0;
    transition: opacity 0.24s ease-out;
    transition-delay: 0.9s;
  }
}

##{$IAdB-prefix}-keyMenu-wrapper {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 600px;
  height: 88px;
  // background-color: #33c5ff!important;
  // background-color: $bgColor;
  overflow: hidden;
  transform: translateX(-50%);
  z-index: 9999;

  .#{$IAdB-prefix}-keyMenu-row {
    display: grid;
    grid-column: 1 / 8;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Lato','Open Sans','Arial',sans-serif;
  }

  .#{$IAdB-prefix}-keyMenu-item {
    padding: 12px 20px;
    // background: $bgColor;
    // border: 1px solid #66afe9;
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    transform: translateY(126%);

    &.active .#{$IAdB-prefix}-btn-neon {
      border-color: var(--color);
      background-color: var(--color);
    }
  }

  &.ready {
    .#{$IAdB-prefix}-keyMenu-item {
      transform: translateY(0);
      transition: transform 0.6s cubic-bezier(0.37, 0.03, 0.09, 0.98);
      transition-delay: calc( 0.1s * var(--item-index) );
    }
  }

  &.prepareForLeaving {
    .#{$IAdB-prefix}-keyMenu-item {
      transform: translateY(0);
      transition: transform 0.56s cubic-bezier(0.83, 0.02, 0.41, 0.87);
      transition-delay: calc( 0.09s * var(--item-index) );
    }

    &.leaving {
      .#{$IAdB-prefix}-keyMenu-item {
        transform: translateY(126%);
      }
    }
  }

  .#{$IAdB-prefix}-btn-neon {
    display: inline-block;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0;
    width: 36px;
    height: 36px;
    // padding: 8px 14px;
    line-height: 34px;
    background: transparent;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    font-size: 12px!important;
    font-weight: normal!important;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 15px 2px var(--color), var(--color) 0 0 11px 3px inset;
    outline: none;
    cursor: pointer;
    text-shadow: none;
    transform: box-shadow 0.12s ease-in-out;

    &:hover,
    &.active {
      box-shadow: 0 0 20px 3px var(--color), var(--color) 0 0 24px 5px inset;
    }
  }
}

$zh: 'zh';

.zhihu-handler {
  position: fixed;
  top: 178px;
  right: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  transition: right 0.24s ease-in-out;
  z-index: 10000;

  .#{$zh}-item {
    font-size: 14px;
    height: 22px;
    line-height: 22px;

    &.www.active{
      color: #e35877;
    }

    &.xxx.active{
      color: #86c797;
    }

    &.yyy.active {
      color: #86c7c7;
    }
  }

  &.hidden {
    right: -180px;
  }
}

.zhihu-handler-toggle {
  position: fixed;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0 12px;
  top: 274px;
  right: 10px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  transition: all 0.24s ease-in-out;
  z-index: 10000;

  &:active {
    transform: scale(0.86);
  }

  &.hidden {
    opacity: 0;
  }
}

@import 'sass/_message';
