// theme1
// $red: #f05050;
// $orange: #ffa500;
// $yellow: #ffd52e;
// $green: #49dd8e;
// $turquoise: #a8f0aa;
// $blue: #58b3ff;
// // $indigo:
// $purple: #ae99ff;

// $redX: #f0505099;
// $orangeX: #ffa50099;
// $yellowX: #ffd52e99;
// // $greenX: #49dd8e99;
// $greenX: rgba(73, 221, 142, 0.6);
// $turquoiseX: #a8f0aa99;
// $blueX: rgba(88, 179, 255, 0.6);
// // $indigoX:
// $purpleX: #ae99ff99;

// theme2
// $red: #ff1177;
// $orange: #FF9900;
// $yellow: #FFDD1B;
// $green: #1ace20;
// $turquoise: #a8f0aa;
// $blue: #228DFF;
// // $indigo:
// $purple: #BA01FF;

// $redX: #ff117799;
// $orangeX: #FF990099;
// $yellowX: #FFDD1B99;
// $greenX: rgba(26, 206, 32, 0.6);
// $turquoiseX: #a8f0aa99;
// $blueX: rgba(34, 141, 255, 0.6);
// // $indigo:
// $purpleX: #BA01FF99;

$anime-duration-l: 0.36s;
$anime-duration-m: 0.24s;
$anime-duration-s: 0.12s;
