* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
  * abstracts/
  * vendors/
  * base/
  * layout/
  * components/
  * pages/
  * themes/
  */
@import '_variables';

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}


.box {
  border-top: 2px solid #171717;
  border-bottom: 2px solid #171717;

  &.index-2 {
    border-color: #fff;
  }

  &.index-3 {
    border: none;
  }
}

.wrap {
}

header {
  position: relative;
  background-color: #171717;
}

// #ext_name {
//   height: 24px;
//   line-height: 24px;
//   padding-left: 22px;
//   font-size: 16px;
//   // background: url(/images/logo_16.png) no-repeat left center;
// }

.description {
  color: #fff;
  margin: 18px 0;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  font-family: menlo;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
}

#preferences {
  position: absolute;
  top: 22px;
  right: 8px;
  width: 16px;
  height: 16px;
  background-image: url(/img/gear_large.svg);
  background-size: 16px 16px;
  cursor: pointer;
  outline: none;
  transition: transform $anime-duration-l ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }
}


// .wrap {
//   border: 1px dashed #77a7ff;

//   .item {
//     margin: 12px 16px 0;
//     border: 1px solid #333;
//     width: 160px;
//     height: 32px;
//     box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.16);
//     transition: transform $anime-duration-s ease-in-out;

//     &:hover {
//       transform: translateY(-4px);
//     }
//   }
// }

.nav-tags {
  display: block;
  background-color: #171717;
  list-style: none;
  overflow: scroll;
  overflow-x: hidden;
  transition: height .3s ease-in-out;

  li {
    padding-right: 0;

    a {
      display: block;
      position: relative;
      border-left: 0 solid transparent;
      padding: 9px;
      padding-left: 46px;
      // color: #87ceeb;
      color: #fff;
      font-size: 12px;
      text-decoration: none;
      transition: border-width 0.5s, border-color 3s, background-image 3s;

      // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px var(--start);
      // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--start);
      text-shadow: 0 0 5px #fff, 0 0 10px var(--start);
      user-select: none;
    }

    &.active {
      a {
        border-color: var(--color);
        background-image: linear-gradient(105deg, transparent 40%, var(--start) 100%);
        border-left-width: 12px;
        color: #fff;
      }
    }

    &:hover {
      a:before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background-image: linear-gradient(to left, transparent, var(--color), transparent);
        background-size: 200%;
        filter: blur(6px);
        animation: animateGlow 2s linear infinite;
      }

      &.active {
        a {
          &:before {
            content: none;
          }
        }
      }
    }

    // &:nth-child(7n+1):hover a {
    //   border-color: $red;
    //   background-image: linear-gradient(105deg, transparent 40%, $redX 100%);
    // }

    // &:nth-child(7n+2):hover a {
    //   border-color: $orange;
    //   background-image: linear-gradient(105deg, transparent 40%, $orangeX 100%);
    // }
    // &:nth-child(7n+3):hover a {
    //   border-color: $yellow;
    //   background-image: linear-gradient(105deg, transparent 40%, $yellowX 100%);
    // }
    // &:nth-child(7n+4):hover a {
    //   border-color: $green;
    //   background-image: linear-gradient(105deg, transparent 40%, $greenX 100%);
    // }
    // &:nth-child(7n+5):hover a {
    //   border-color: $turquoise;
    //   background-image: linear-gradient(105deg, transparent 40%, $turquoiseX 100%);
    // }
    // &:nth-child(7n+6):hover a {
    //   border-color: $blue;
    //   background-image: linear-gradient(105deg, transparent 40%, $blueX 100%);
    // }
    // &:nth-child(7n+0):hover a {
    //   border-color: $purple;
    //   background-image: linear-gradient(105deg, transparent 40%, $purpleX 100%);
    // }

    i {
      font-size: 16px;
      margin-right: 8px;

      &:before {
        content: "†˚"
      }
    }
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
